body.gpsVoiture{
    background-image: url(pictures/ruefeuvert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}
.gps{
background-image: url(pictures/gps.png);
margin-top : 150px;
width: 1200px;
height: 920px;
margin-left: 620px;
background-repeat: no-repeat;
}
.gpsPhone{
    background-image: url(pictures/gpsPhone.png);
    width: 700px;
    height: 920px;
    margin-left: 520px;
    background-repeat: no-repeat;
    }
#carte{
    top: 30px;
    width: 1010px;
    height: 570px;
    left: 40px;
    
}
#cartePhone{
    top: 65px;
    width: 396px;
    height: 772px;
    left: 44px;
    border-radius: 30px
}