<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casse brique

    </title>
    <link rel="stylesheet" href="cassebrique.css">
</head>

<body>
    <h1>Casse brique </h1>
    <div id='conteneur'>
        <canvas id="canvasElem" width="400" height="300">
        </canvas>
    </div>
    <button>vie</button>
    <div class="Life">Affichage</div>
    <script src="cassebrique.js"></script>
</body>

</html>
